<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />

  <Service name="Catalina">
<Connector
          protocol="org.apache.coyote.http11.Http11NioProtocol"
          port="8443" maxThreads="200"
          scheme="https" secure="true" SSLEnabled="true"
          keystoreFile="/opt/certs/keystore.jks" keystorePass="5d4ba7e5-59b0-49ae-8bfb-a3800d3eb2a5"
          clientAuth="false" sslProtocol="TLS"/>
<Connector
     port="8080" maxThreads="150"
     enableLookups="false" connectionTimeout="20000" />

    <Connector port="8009" protocol="AJP/1.3" address="0.0.0.0" redirectPort="443" requiredSecret="EuDtV3xwG4XNCa7p"/>

    <Engine name="Catalina" defaultHost="localhost">

      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true">

        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log." suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />

      </Host>
    </Engine>
  </Service>
</Server>
